{% extends 'base.html' %}

{% block conteudo %}
<div class='resultado'>
    <table class="table table-secondary table-striped">
        <tr>
            <td>ISPB:</td>
            <td>{{banco['ispb']}}</td>
        </tr>
        <tr>
            <td>Banco:</td>
            <td>{{banco['nome']}}</td>
        </tr>
        <tr>
            <td>Taxa de juros original (%):</td>
            <td>{{taxa_de_juros|round(2)|replace('.',',')}}</td>
        </tr>
        <tr>
            <td>Meses em ser:</td>
            <td>{{meses_em_ser}}</td>
        </tr>
        <tr>
            <td>Saldo devedor (R$):</td>
            <td>{{saldo_devedor|round(2)|replace('.',',')}}</td>
        </tr>
        <tr>
            <td colspan=2>
                <center><a href="{{url_for('inicio')}}">[ novo cálculo ]</a></center>
            </td>
        </tr>
    </table>
</div>
{% endblock %}