{% extends 'base.html' %}

{% block conteudo %}

<form name="pcd" method="post" action="/calculo">
    <div class='container-fluid'>
        <div class='row mt-3 p-2 inputs'>
            <div class='col-sm-12 col-md-4 col-lg-2 p-1'>
                <span class='exemplo'>exemplo: 341</span>
                <input class='form-control' type="number" name="banco" id='banco' required>
                <span class="badge bg-secondary">código do banco</span>
            </div>
            <div class='col-sm-12 col-md-4 col-lg-2 p-1'>
                <span class='exemplo'>exemplo: {{datas_exemplos['proxima_data']}}</span>
                <input class='form-control' type="number" id='proxima-parcela'
                    name="data_proxima_parcela" required>
                <span class="badge bg-secondary">próxima parcela</span>
            </div>
            <div class='col-sm-12 col-md-4 col-lg-2 p-1'>
                <span class='exemplo'>exemplo: {{datas_exemplos['ultima_data']}}</span>
                <input class='form-control' type="number" id='ultima-parcela'
                    name="data_ultima_parcela" required>
                <span class="badge bg-secondary">última parcela</span>
            </div>
            <div class='col-sm-12 col-md-4 col-lg-2 p-1'>
                <span class='exemplo'>exemplo: 84</span>
                <input class='form-control' type="number" id='quantidade-de-parcelas' name="quantidade_de_parcelas"
                    required>
                <span class="badge bg-secondary">quantidade de parcelas</span>
            </div>
            <div class='col-sm-12 col-md-4 col-lg-2 p-1'>
                <span class='exemplo'>exemplo: 25600</span>
                <input class='form-control' type="number" id='valor-da-parcela' name="valor_da_parcela" required>
                <span class="badge bg-secondary">valor da parcela</span>
            </div>
            <div class='col-sm-12 col-md-4 col-lg-2 p-1'>
                <span class='exemplo'>exemplo: 484196	</span>
                <input class='form-control' id='valor-emprestado' type="number" name="valor_emprestado" required>
                <span class="badge bg-secondary">valor emprestado</span>
            </div>
        </div>


        <div class='row p-2 inputs2'>
            <div class='col-sm-12 col-md-10'>
                <em>
                    <b>Atenção:</b><br>
                    Em todos os campos digite apenas números, sem qualquer outro tipo de caracter.<br>
                    Nos campos monetários coloque os centavos mas sem pontos, vírgulas ou espaços.
                </em>
            </div>
            <div class='col-sm-12 col-md-2 p-1 justify-content-sm-center d-flex align-items-center'>
                <div>
                    <button id='calcular' class="btn btn-primary">calcular</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form name="busca_ispb" method="post" action="/buscar_ispb" class='form'>
    <div class='row'>
        <div class='col-sm-12 col-md-6 col-lg-4'>
            <div class='row mt-3 inputs'>
                <div class='col-12'>
                    <blockquote class="blockquote mt-2">
                        digite o código do banco e ache o ispb:
                    </blockquote>
                    <figcaption style='font-size:0.7em' class="blockquote-footer">
                        base atualizada em {{data_atualizacao_bancos}}
                    </figcaption>
                </div>
            </div>
            <div class='row p-2 inputs2'>
                <div class='col-6'>
                    <span class='exemplo'>exemplo: 341</span>
                    <input class='form-control'  type='text' name='codigo_banco' required>
                    <span class="badge bg-secondary">código do banco</span>
                </div>
                <div class='col-4'>
                    <span class='exemplo'>&nbsp;</span><br>
                    <button class='btn btn-primary'>buscar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
